/**Font**/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/**Boddy**/
body {
    font-family: 'Roboto',sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid black;
    margin-top: 15vh;
    min-width: 40vw;
}

/**Titulo**/
.titlediv{
    background-color: #C4C4C4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.titlediv h2 {
    margin-left: 10px;
    font-size: 2.2vh;
}

/**Bloco principal**/
.bloco{
    height: 50vh;
    overflow-y: scroll;
}

.msg{
    align-items: center;
    overflow-wrap: break-word;
}

p{
    max-width: 39.2vw;
    min-height: 6vh;
    margin: 6px;
    border: 1px solid black;
}

/*rodape*/
.rodapé{
    background-color: #C4C4C4;
    width: 25vw;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
textarea {
    resize: none;
    width: 20vw;
    height: 10vh;
    border: 1px solid black;
}
.roda {
    display: flex;
    justify-content: center;
}


/**Botões**/
.buttons {
    display: flex;
    justify-content: end;
    margin: 0.8vh;
}
.edit {
    background-color: #F6A75D;
    border: transparent;
    cursor: pointer;
 }
.excluir {
    background-color: #F65D5D;
    border: transparent;
    cursor: pointer;
}

.enviar {
    margin-bottom: 46px;
    margin-left: 4px;
    background-color: #0066CC;
    color: white;
    border: transparent;
    padding: 8px;
    border-radius: 15%;
    cursor: pointer;
}

